.image2{
    width: 100%;
    height: 450px;
}

.image_carr{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.img-fluid{
    height: 230px;
    width: 230px;
}

.item_image{
    margin: 10px;
}

.productos{
    text-align: center;
}
.image_pay{
    width: 100%;
}
#REGISTRO{
    padding: 20px;
}
#principalSectionPagos{
    padding: 20px;
}
#nosotros{
    padding: 20px;
}

.menu_footer{
    padding-top: 30px;
}